* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: green;
  height: 15vh;
  margin: 10px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.respHeader {
  background-color: green;
  height: 22vh;
  margin: 10px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ulStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  list-style-type: none;
  width: 100vw;
}

.respUlStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  list-style-type: none;
  width: 100vw;
}

.ulStyle li {
  margin: 10px;
  width: 80px;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: black;
}

.respUlStyle li {
  margin-top: 3px;
  width: 80px;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: black;
}

.ulStyle li:hover {
  border: white solid 1px;
  color: white;
  background-color: black;
}

.hamburger {
  display: none;
}

.respHamburger {
  display: block;
}
